# You will need to input your own information in this file

variable "ami" {
type = map
default = {
    "app" = "<ami-id>"
    "db" = "<ami-id>"
    }
}

variable "personal" {
    type = map
    default = {
        "key" = "<key-name>"
        "ip" = "<personal-ip>/32"
    }
}